.home{
    height: 100%;
    background-color: #f8f8ff;
    padding-top: 40px;
    padding-bottom: 50px;
}
.dark__home{
    height: 100%;
    background-color: #4f4169;
    padding-top: 40px;
    padding-bottom: 50px;
}